.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
tmp/
temp/
*.tmp
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.cache/
dist/
*.orig
.env
.env.local
.env.*.local
/build/
public/
coverage/
*.lock
*.bak
*.swp
Thumbs.db
.localstorage
.session